<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>First_name</key>
	<string>march 2</string>
	<key>Last_name</key>
	<string>march 2</string>
	<key>favfood</key>
	<string>march 2</string>
	<key>favrestaurant</key>
	<string>march 2</string>
	<key>button</key>
	<true/>
</dict>
</plist>
